[flake8]
# Устанавливаем лимит длины строки в 119 символов
max-line-length = 119
# Исключаем директории, которые не нужно проверять
exclude =
    .git,
    __pycache__,
    */migrations/*,
    venv/,
    env/,
    .venv/